<!DOCTYPE html>
{% load socialaccount %}
<html>
  <head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
      <ul class="nav">

  {% if user.is_authenticated %}

   <li class="nav-item">

    <p><h6>You are Login in as {{user.username}}</h6></p>
  </li>


  <li class="nav-item">

    <a class="nav-link active" href="{% url 'account_email' %}">Email</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'account_logout' %}">Sign out</a>
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'account_login' %}">Sign in</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="{% url 'account_signup' %}" tabindex="-1">Sign up</a>
  </li>

   {% endif %}


     <li class="nav-item">
    <a class="nav-link active" href="{% url 'home' %}">Home</a>

  </li>

</ul>
    {% endblock %}
  </head>
  <body>



    {% block body %}




    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>