<!DOCTYPE html>
<html lang="en">
<head>
   <!-- jQuery CDN -->
    <script
    src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
    crossorigin="anonymous"></script>
     <!-- highcharts CDN -->
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>  
    <script src="https://code.highcharts.com/modules/heatmap.js"></script>
    <script src="https://code.highcharts.com/modules/treemap.js"></script>

    {% load chartit %}
    {{ chart_list|load_charts:"cht, cht2" }}
</head>
<body>
    <div id='cht' style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto">  </div>
    <hr>
    <div id='cht2' style="min-width: 400px; height: 400px; max-width: 600px; margin: 0 auto">  </div>
</body>
</html>